<footer role="contentinfo" class="c-footer">
    <div class="c-footer_wrapper">
        <div class="c-footer_item c-footer_tech">

        </div>
        <div class="c-footer_item c-footer_author">
            © {{ year.copyrightYear }} {{ metadata[locale].author.name  }}
        </div>
        <div class="c-footer_item c-footer_source">

        </div>
    </div>
</footer>
